h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.125rem;
  margin-top: 0;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  font-weight: normal;
}

h6 {
  font-size: 0.75rem;
}

ul {
  font-size: 1rem;
}

ol {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin: 0;
}

q {
  font-size: 1.17rem;
}

caption {
  font-size: 0.75rem;
}
