// Colors
$cherry: #d41217;
$cherry-hover: #b91d21;
$green: #8db524;
$purple: #8961a6;
$orange: #f39332;
$blue: #41bfed;
$caliber: #7b858a;
$grey-dark: #c8c8ca;
$grey-light: #e7e8e8;
$black: #4a4a4a;
